<!DOCTYPE html>
<html>
    <head>
        <title>Контакт</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <script src="/static/js/uikit.min.js"></script>
        <script src="/static/js/uikit-icons.min.js"></script>
    </head>
    <body>
    <div class="uk-section-primary uk-preserve-color">

    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

        <nav class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <div uk-navbar>

                    <ul class="uk-navbar-nav">
                        <li><a href="#">Каталог</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Товар 1</a></li>
                                    <li class="uk-active"><a href="#">Товар 2</a></li>
                                    <li class="uk-active"><a href="#">Товар 3</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-active"><a href="#">Контакт</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
<div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
     data-src="https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?fit=crop&w=1920&h=1080&q=80"
     uk-img>
<form method="post">
    {% csrf_token %}
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Отправить сообщение</legend>

        <div class="uk-margin">
            <input name="name" class="uk-input" type="text" placeholder="Имя" aria-label="Input1">
        </div>
        <div class="uk-margin">
            <input name="email" class="uk-input" type="text" placeholder="Email" aria-label="Input1">
        </div>
        <div class="uk-margin">
            <textarea name="message" class="uk-textarea" rows="5" placeholder="Сообщение" aria-label="Textarea"></textarea>
        </div>
        <p uk-margin>
            <button class="uk-button uk-button-default">Отправить</button>
        </p>

    </fieldset>
</form>
</div>
    </body>
</html>