{% extends 'catalog/base.html'%}
{% block content %}
<div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
     data-src="https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?fit=crop&w=1920&h=1080&q=80"
     uk-img>
<form method="post">
    {% csrf_token %}
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Отправить сообщение</legend>

        <div class="uk-margin">
            <input name="name" class="uk-input" type="text" placeholder="Имя" aria-label="Input1">
        </div>
        <div class="uk-margin">
            <input name="email" class="uk-input" type="text" placeholder="Email" aria-label="Input1">
        </div>
        <div class="uk-margin">
            <textarea name="message" class="uk-textarea" rows="5" placeholder="Сообщение" aria-label="Textarea"></textarea>
        </div>
        <p uk-margin>
            <button class="uk-button uk-button-default">Отправить</button>
        </p>

    </fieldset>
</form>
</div>
{% endblock %}