{% extends 'catalog/base.html' %}
{% block content %}
    {% load catalog_tags %}
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <div class="uk-child-width-2-3">
                <div class="uk-flex uk-flex-center uk-object-center-center">
                    <div class="uk-card uk-card-default uk-card-body uk-margin-center ">
                        <div class="uk-card-badge">Владелец {{ product.owner| default:"Неизвестен"}}</div>
                        <span class="uk-text-small uk-text-left">Дата создания: {{ product.create_date }}</span>
                        <div class="uk-card-media-top">
                            <img class="uk-object-position-center-center" src="{{ somevariable|check_foto:product }}"
                                 width="400" height="400" alt="">
                        </div>
                        <table class="uk-table uk-table-small uk-table-hover">
                            <tbody>
                            <tr>
                                <td>Наименование:</td>
                                <td><h3>{{ product.name }}</h3></td>
                            </tr>
                            <tr>
                                <td>Описание:</td>
                                <td>{{ product.description }}</td>
                            </tr>
                            <tr>
                                <td>Цена:</td>
                                <td>{{ product.price }} Рублей</td>
                            </tr>
                            </tbody>
                        </table>
                        {% if user.is_authenticated %}
                            <div class="uk-column-1-3">
                            <div class="uk-text-center">
                                <a class="uk-button uk-button-primary"
                                   href="{% url 'catalog:product_create' %}">Создать</a>
                            </div>
                            <div class="uk-text-center">
                                <a class="uk-button uk-button-secondary"
                                   href="{% url 'catalog:product_update' object.pk %}">Изменить</a>
                            </div>
                            <div class="uk-text-center">
                                <a class="uk-button uk-button-danger"
                                   href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}